@media (max-width:600px){
    .w{
        width: 12vmax;
        height: 3vmax;
        top: 50%;
        right: -7%;
    }
    .w1{
        font-size: 2vmax;
    }
    .wtxt{
        font-size: 1.2vmax;
    }
    .topdiv{
        width: 200vw;
        height: 120vh;
        display: flex;
        flex-direction: column;
    }
    .topleft{
        padding: 4vmax;
    
    }
    .mutual1{
        width: 1500vmax;
    }
    .righttop1,.righttop2,.rightbottom{
        border-radius: 150px;
        align-items: center;
        justify-content: center;
    }
    .rightbottom{
        border-radius: 30px;
    }
    .righttop1txt,.righttop2txt,.rightbottomtxt{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    }
    .div2{
        height:40vh;
        border-radius: 30px;
        padding: 5vmax 7vmax;
    }
    .div2head{
        font-weight: 600;
        font-size: 100%;
    }
    .div2p{
        font-weight: 500;
        font-size: 3vh;
    }
    .big1,.big2,.big3,.big4{
        width: 100vw;
        height:33vmin;
    }
    .bigleft1,.bigleft2,.bigleft3,.bigleft4{
        width: 100%;
        height:100%;
        border-radius: 30px; 
    }
    .biglefttxt1{
        font-size: 1.4vmax;
        font-weight: 600;
    }
    .biglefttxt2{
        font-size: 1.2vmax;
        font-weight: 300;
        
    }
    .bigright1,.bigright2,.bigright3,.bigright4{
      display: none;
    }
    .small1left,.small1right, .small2left,.small2right{
        border-radius: 30px;
}
.div4txt{
    position: relative;
    top: 2%;
    left: 10%;
    width: 50%;
    font-weight: 100;
    font-size: 2vmax;
}
#circle{
    position: relative;
    left: 0%;
    top:13%;
    transform: rotateZ(-25deg);
}
.circle1{
    position: relative;
    left: -10%;
}
.circle2{
    position: relative;
    left: -120%;
}

.div5{
    height: 60vh;
    padding: 5vmax;
}
.div5head{
    font-weight: 600;
    font-size: 70%;
    /* margin-top: 2vmax; */
}

.div5p{
    font-weight: 500;
    font-size: 300%;
    margin: 3vmax 0;
}
.bottomdiv{
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    padding: 10px;  
}
.bottomdivleft{
flex-direction: column;
    justify-content: space-between;
}
.bottomdivlefttop{
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.bottomdivlefttop1,.bottomdivlefttop2,.bottomdivlefttop3{
    width: 100vw;
    height: 20vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 0.5vh 0;
}
.bottomdivleftbottom{
    width: 100vw;
    height: 69%;
    border-radius: 30px;
    margin: 0.5vh 0;
}
.bottomdivright{
    height: 20%;
    width: 100vw;
    border-radius: 30px;
    font-weight: 300;
    font-size: 1.5vmax;
    margin: 0.5vh 0;
}
.info{
    font-weight: 300;
    font-size: 1.3vmax;
    color:rgb(183, 223, 120) ;
    padding: 2vmax;
}

.copyright{
    height: 30vmin;
    width: 100vmax;
}
}